* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

body {
    background-color: white;
    max-width: 1400px;
    margin: auto;
}

header{
    text-align: center;
    height: 80px;
    padding: 40px;
    color: rgb(94, 92, 89);
 }

 header h1 {
     font-size: 40px;
}

.flexbox_container {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: auto;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: white;
    color: midnightblue;
    box-shadow: 5px 5px 5px 5px lightgray;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.card img {
    margin: 10px;
    min-height: 300px;
    border-radius: 10px;
}

.card:hover {
    opacity: 1;
}

#ignore_me {
    opacity: 0;
}
h2, h3, h4, h5, h6 {
    font-size: 30px;
    text-decoration: underline;
}

span {
    font-size: 1.5em;
    color: #b48ce0;
}

#penelope {
    list-style-type: none;
}

li:hover {
    color: #1182eb;
}

#prince_princess {
    column-gap: 300px;
}

#mistress {
    column-gap: 500px;
}

*::selection {
    color:white;
    background-color: #1182eb;
}